.black-nav {
  background-color: tomato;
  
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

div {
  box-sizing: border-box;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}